<head>
    <meta name="JBA Music" content="Artist JBA's official website">
    <meta name="Designer/Engineer" content="Jordan Barringer">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><img src="/images/vinyl.png"> JBA Music</title>
</head>
<body>
    <div id="firstPage">
        <!--insert JBA squat picture to center-->
        <header>JBA Music</header>
    </div>
    <div id="About">
        <h2>About JBA</h2>
        <!--insert image of JBA standing-->
        <p>Through the sounds of punk guitar, catchy melodies, and hook, JBA creates genuinely upbeat music.</p>
        <p>JBA has made a name for himself, making it impossible to ignore.</p>
        <p>Jordan Peter is an up-and-coming artist based in Dallas, taking a wide range of influences from the likes of Machine Gun Kelly, Travis Barker, and Blackbear.</p>
        <p>The pop-punk and upbeat tempo songs have led him to play local events throughout the Dallas/Fort Worth area.</p>
    </div>
    <div id="Sound">
        <h2>Hear His Sound</h2>
        <p>Spotify</p>
        <p>Apple Music</p>
        <p>iTunes</p>
        <p>Amazon</p>
        <p>Pandora</p>
        <p>Deezer</p>
        <!--vinyl icon with image of his latest release using handlebars-->
        <p class="latest-release">Check out his latest release!</p>
    </div>
    <div id="Events">
        <h2>Events and Tickets</h2>
        <label for="email"> Don't miss a show or release! Sign up for email notifications here:</label>
        <input type="email" id="email" name="email">
    </div>
    <div id="Merch">
        <h2>Merch</h2>
        <!--input merch images using handlebars that scroll side to side-->
    </div>
</body>
<foot>
    <div> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
</foot>