<head>
    <meta name="JBA Music" content="Artist JBA's official website">
    <meta name="Designer/Engineer" content="Jordan Barringer">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><img src="/images/vinyl.png"> JBA Music</title>
</head>
<body>
    <div id="firstPage">
        <header>JBA Music</header>
    </div>
    <div id="About">
        <h2>About JBA</h2>
    </div>
    <div id="Sound">
        <h2>Hear His Sound</h2>
    </div>
    <div id="Events">
        <h2>Events and Tickets</h2>
    </div>
    <div id="Merch">
        <h2>Merch</h2>
    </div>
</body>
<foot>
    <div> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
</foot>